.ElementDetails {
	padding: 1em;
	position: relative;
}

.ElementDetails-close {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0.5em;
	padding: 0.5em;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: transparent;
	border: none;
	cursor: pointer;
	color: inherit;
	font-size: 2em;
}
